{% extends 'base.html.twig' %}

{% block title %}Discount index{% endblock %}

{% block body %}
    <h1>Discount index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Code</th>
                <th>Value</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for discount in discounts %}
            <tr>
                <td>{{ discount.id }}</td>
                <td>{{ discount.name }}</td>
                <td>{{ discount.code }}</td>
                <td>{{ discount.value }}</td>
                <td>
                    <a href="{{ path('discount_show', {'id': discount.id}) }}">show</a>
                    <a href="{{ path('discount_edit', {'id': discount.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('discount_new') }}">Create new</a>
{% endblock %}
