{% extends 'base.html.twig' %}

{% block title %}Discount{% endblock %}

{% block body %}
    <h1>Discount</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ discount.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ discount.name }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ discount.code }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ discount.value }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('discount_index') }}">back to list</a>

    <a href="{{ path('discount_edit', {'id': discount.id}) }}">edit</a>

    {{ include('discount/_delete_form.html.twig') }}
{% endblock %}
