{% extends 'base.html.twig' %}

{% block title %}DiscountType{% endblock %}

{% block body %}
    <h1>DiscountType</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ discount_type.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ discount_type.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('discount_type_index') }}">back to list</a>

    <a href="{{ path('discount_type_edit', {'id': discount_type.id}) }}">edit</a>

    {{ include('discount_type/_delete_form.html.twig') }}
{% endblock %}
