{% extends 'base.html.twig' %}

{% block title %}ShoppingCart{% endblock %}

{% block body %}
    <h1>ShoppingCart</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ shopping_cart.id }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ shopping_cart.reference }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ shopping_cart.value }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('shopping_cart_index') }}">back to list</a>

    <a href="{{ path('shopping_cart_edit', {'id': shopping_cart.id}) }}">edit</a>

    {{ include('shopping_cart/_delete_form.html.twig') }}
{% endblock %}
