<form method="post" action="{{ path('customer_group_delete', {'id': customer_group.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customer_group.id) }}">
    <button class="btn">Delete</button>
</form>
