{% extends 'base.html.twig' %}

{% block title %}New CustomerGroup{% endblock %}

{% block body %}
    <h1>Create new CustomerGroup</h1>

    {{ include('customer_group/_form.html.twig') }}

    <a href="{{ path('customer_group_index') }}">back to list</a>
{% endblock %}
